meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title= title
meta(name="description" content=description)
- const chunks = [...self.compilation.chunks];
- const publicPath = self.htmlWebpackPlugin.options.publicPath;
if styles
  each style in styles
    - const files = chunks.filter((chunk) => style.includes(chunk.name))[0]?.files;
    if files
      link(rel="stylesheet" href=`${publicPath}${[...files][0]}`)
if scripts
  each script in scripts
    - const files = chunks.filter((chunk) => script.includes(chunk.name))[0]?.files;
    if files
      script(src=`${publicPath}${[...files][0]}` defer)
